.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
p {
  color: white;
}
table {
  color: white;
  flex: 1;
}
span {
  color: #afafaf;
  font-weight: 700;
  font-size: 24px;
}
table,
th,
td {
  border: 1px solid #afafaf;
  padding: 15px 15px;
  font-size: 28px;
}
td {
  color: #61dafb;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
